@model HomeIndexViewModel

@{
    ViewData["Title"] = "Download Youtube video";
}

<div class="container-fluid row justify-content-center mt-5 mb-5">
    <div class="col-6 text-center">

        <form asp-action="index" method="post">
            
            <div class="form-row mb-3">
                <h1 class="display-4">Download video</h1>
            </div>
            <div class="form-row mb-3">
                <input placeholder="https://www.youtube.com/watch?..." class="form-control" type="text" asp-for="VideoUrl" />
            </div>
            <div class="form-row mb-3">
                <button class="btn btn-primary">Download</button>
            </div>

            @if(null != Model)
            {
                <hr/>

                <div class="form-row mb-3">
                    <p><b>Title:</b></p>
                    <p>@Model.Title</p>
                </div>

                <div class="form-row mb-3">
                    <p><b>Author:</b></p>
                    <p>@Model.Author</p>
                </div>

                <div class="form-row mb-3">
                    <p><b>Duration:</b></p>
                    <p>@Model.Duration</p>
                </div>
            }
            

        </form>

    </div>
</div>
